footer {
  background: $color-3;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  width:100%;
  a {
    color: $color-5;
    padding: 4%;
	font-size: 2em;
    position:relative;
    font-family: $secondary-font;
  }
  a:hover {
   color: $color-1;
  }
}
