@media (min-width: 768px) {


.requirements h3 {
  text-align: center;
}
.requirements p {
  margin-top: 0;
  max-width: 40%;
}
.requirements p:nth-child(3) {
  clear: left;
  margin-right: 5%;

}
.requirements p:nth-child(4) {
clear:left;
float: right;
margin-top: -192px;
}

.requirements p:nth-child(5) {
  float: right;
      margin-top: -111px;

}

.requirements p:last-child {
		text-align:center;
		margin-top: 1em;
		font-size: 1.5em;
		max-width: 100%;
		clear:both;
	}


.wrapper {
	display:block;
	width: 75%;
    margin: 0 auto;
}

.design-selection{
	float:center;
	clear: both;
}
.design-selection ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.design-selection li {
	display: inline;
	margin: 2em;
}

.design-archives {
	float:right;
}
.zen-resources {
	float:left;
}

}
