/*First block Zen Garden Layout */

header {
    text-align: center;
    width: 100%;
    max-width: 1040px;
    position: relative;
    margin: 0 auto;
    display: block;
}

header h1 {
    display: inline-block;
    min-height: 70px;
    margin: 60px auto 0;
}

header h2 {
    display: block;
    text-align: right;
    max-width: 700px;
    text-align: right;
}

.summary p {
    clear: right;
    float: right;
    margin: 0;
    width: 250px;
    display: block;
}

.intro {
    float: left;
    height: 600px;
    width: 100%;
}


.summary {
    position: relative;
    max-width: 1040px;
    margin: 80px auto 0;
    width: 100%;
}

.preamble {
    clear: left;
    float: left;
    left: 50%;
    margin-left: -500px;
    max-width: 500px;
    position: relative;
    top: 300px;
    width: 50%;
}

.supporting {
    float: left;
    position: relative;
    width: 100%;
}

.explanation {
    float: left;
    margin-left: 1.5%;
    max-width: 500px;
    padding-bottom: 20px;
    position: relative;
    left: 50%;
}
@media (max-width:650px) {
  .preamble {
    margin-left: 0;
    max-width: 500px;
    top: 50px;
    left:0;
    width: 90%;
  }
  .explanation{
    left:0;
  }
}
