/*First block Zen Garden Layout */

header {
    text-align: center;
    width: 100%;
    max-width: 1040px;
    position: relative;
    margin: 0 auto; 
}

header h1 {
    display: inline-block; 
    min-height: 70px;
    margin: 60px auto 0; 
}

header h2 {
    display: block; 
    text-align: right;
    max-width: 700px; 
}


.intro {
    float: left; 
    height: 600px; 
    width: 100%; 
}

div, aside, header, section {
        display: block; 
    }
    
.summary {
    position: relative;
    max-width: 1040px;
    margin: 80px auto 0;
    width: 100%;
}

.preamble {
    clear: left;
    float: left;
    left: 50%;
    margin-left: -500px;
    max-width: 500px;
    position: relative;
    top: 300px;
    width: 50%;
}

.supporting {
    float: left;
    position: relative;
    width: 100%;
}

.supporting {
    width: 50%;
}

.explanation {
    float: left;
    margin-left: 1.5%;
    max-width: 500px;
    padding-bottom: 20px;
    position: relative;
    left: 50%;
}

p {
    display: block;
}

