$margin: 10px;
$padding: 10px;
@mixin img-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.participation, .participation::after{
  display: inline-block;
  width: 40%;
  margin: $margin;
  padding: $padding;
  border: 3px solid red;
  float: left;
  clear: both;
}
.participation{
  position: relative;
  // margin-top: 200px;
  // margin-left: -417px;
}
.participation::after{
  position: absolute;
  top:-15px;
  right: -120%;
  // content:url();
  content: "image";
  border: 3px solid yellow;
  width: 100%;
  height: 95%;
  padding: $padding;
  @include img-centered;
}
/* benefits */
.benefits, .benefits::before{
  width: 42%;
  margin: $margin;
  padding: $padding;
  border: 3px solid red;
  float: left;
  clear: both;
}
.benefits{
  position: relative;
  margin-left: 48%;
}
.benefits::before{
  position: absolute;
  top:-15px;
  right: 108%;
  // content:url();
  content: "image";
  border: 3px solid yellow;
  width: 93%;
  height: 90%;
  padding: $padding;
  @include img-centered;
}
@media (max-width: 700px) and (min-width:481px){
  .participation, .participation::after{
    width: 90%;
  }
  .participation{
    margin-bottom: 250px;
  }
  .participation::after{
    top:100%;
    right: 1%;
  }
  .benefits, .benefits::before{
    width: 80%;
  }
  .benefits::before{
    top:100%;
    right: -2%;
    width: 95%;
  }
  .benefits{
    margin-top: 30%;
    margin-bottom: 50%;
    margin-left: 0;
  }
}
@media(max-width: 480px){
  .participation, .participation::after{
    width: 90%;
  }
  .participation{
    margin-bottom: 80%;
    margin-top: 270px;
    margin-left: 0;
  }
  .participation::after{
    top:100%;
    right: 1%;
  }
  .benefits, .benefits::before{
    width: 90%;
  }
  .benefits::before{
    top:100%;
    right: 1%;
  }
  .benefits{
    margin-top: 30%;
    margin-bottom: 70%;
    margin-left: 3%;
  }
}
