<<<<<<< HEAD
// @import 'partials/prefix-mixins';
// @import 'partials/layout'; // responsive grid and media queries
=======
>>>>>>> af9675d1596285ac8a3e9e45840a5e92910bf06b
@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One');

// color palette - these colors will be the color swatches of the Colors section

$color-1: #fed766; // yellow
$color-2: #272727; // black
$color-3: #275dad; // blue
$color-4: #696773; // grey
$color-5: #eff1f3; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Cardo', serif;
$secondary-font: 'Pathway Gothic One', sans-serif;
<<<<<<< HEAD
=======

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}



/* ----------------
Lists
-----------------   */

li  {
		list-style-type: none;
	}

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background-color: $color-2;
}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-2;
}

/* -------------------------------- 

xTypography 

-------------------------------- */

h1, h2 {
	font-family: $secondary-font;
	color: $color-2;
}

h1 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

p {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($color-2, 25%);

	a {
		color: $color-1;
		text-decoration: underline;
	}
}
>>>>>>> af9675d1596285ac8a3e9e45840a5e92910bf06b
