/*
Error: File to import not found or unreadable: style-guide.scss.
        on line 5 of styles/style.scss

1: 
2: /* Import the different style sheets here *\/
3: @import "reset.css";
4: @import "mobile.scss";
5: @import "style-guide.scss";
6: @import "stle.scss";

Backtrace:
styles/style.scss:5
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/plugin.rb:109:in `method_missing'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/bin/sass:22:in `load'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/bin/sass:22:in `<main>'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `eval'
/Users/irinaohara/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: style-guide.scss.\A         on line 5 of styles/style.scss\A \A 1: \A 2: /* Import the different style sheets here */\A 3: @import \"reset.css\";\A 4: @import \"mobile.scss\";\A 5: @import \"style-guide.scss\";\A 6: // @import \"desktop.scss\";\A 7: @import \"second-block.scss\";"; }
