/* Import the different style sheets here */
@import "style-guide.scss";
@import "reset.css";

$width-size: 1040px;
$width-percent: 95%;
$media-width: 650px;
$margin: 0 5% 5% 2.5%;
$padding: 10px;
$margin-mobile: 6%;
$width-mobile: 80%;
$width-full: 40%;

//Body
body {
	/* this is the page background */
	background-color: $color-5;
}

/*First block Zen Garden Layout */

header {
  display: block;
  margin: 0 auto;
  max-width: $width-size;
  position: relative;
  text-align: center;
  width: $width-percent;
}

.summary p {
  clear: right;
  display: block;
  float: right;
  margin: 0;
  width: 250px;
}

.intro {
  height: 600px;
  width: $width-percent;
}

.summary {
  margin: 80px auto 0;
  max-width: $width-size;
}

.preamble {
    margin: $margin;
    padding: $padding;
    position: relative;
    top: 300px;
    width: $width-full;
    @media (max-width:$media-width) {
      float: left;
      margin: $margin-mobile;
        top: 50px;
        width: $width-mobile;
    }
}

.explanation {
    margin-left: 50%;
    padding: $padding;
    position: relative;
    top: -38px;
    width: $width-full;
    @media (max-width:$media-width) {
        float: left;
        margin: $margin-mobile;
        margin-top: 100%;
        width: $width-mobile;
    }
}

/* Second block Zen Garden Layout */

@mixin img-centered{
  align-items: center;
  display: flex;
  justify-content: center;
}

.participation, .participation::after, .benefits, .benefits::before {
  clear: both;
  display: inline-block;
  margin: $margin;
  padding: $padding;
  top: 0;
  width: $width-full;//40%;
}
.participation{
    position: relative;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        margin-bottom: 250px;
        width: $width-mobile;
    }
}

.participation::after{
  border: 3px solid yellow;
  // content:url();
  content: "image";
  height: 97%;
  position: absolute;
  right: -114%;
  width: $width-percent;
  //padding: $padding;
  @include img-centered;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        right: -7.5%;
        top: 100%;
        width: $width-percent;
    }
}

/* benefits */

.benefits{
  margin-left: 48%;
  position: relative;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        margin-bottom: 70%;
      margin-top: 100%;
      width: $width-mobile;
    }
}
.benefits::before{
  border: 3px solid yellow;
  // content:url();
  content: "image";
  height: 95%;
  position: absolute;
  right: 102%;
  top:-15px;
  width: $width-percent;
  //padding: $padding;
  @include img-centered;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        right: -7.5%;
        top: 100%;
        width: $width-percent;
    }
}
/*Third block Zen Garden Layout */

.requirements {
  background-color: $color-3;
  clear: both;
  column-count: 2;
  column-width: $width-full;
  left: auto;
  padding: $padding;
  p {
    border-color: lighten($color-2, 5%);
    color: $color-5;
    padding: $padding;
  }
  p:last-child {
    column-span: all;
    padding: 0 20% 20px;
    width: 60%;
  }
  @media (max-width:$media-width) {
        column-count: 1;
    p {
      margin: $margin-mobile;
      width: $width-percent;
    }
  }
}

footer {
  background: $color-3;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  width:100%;
  a {
    color: $color-5;
    padding: 4%;
  }
}


.sidebar {
    background: $color-3;
    clear: both;
    margin: 0 0 1em 0;
    padding: 1em;
  ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    li {
      color: $color-5;
      display: inline-block;
      padding: $padding;
      text-align: left;
      //width: $width-full;
      a {
        color: $color-5;
        display: block;
        width: $width-full;
      }
    }
  }
}

//Typography
h1, h2, h3 {
	color: $color-2;
  font-family: $secondary-font;
}

h1 {
  display: inline-block;
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
  margin: 60px auto 0;
  min-height: 70px;
}

h2 {
  display: block;
  font-weight: bold;
  margin: 1em 0;
  max-width: 700px;
  text-align: right;
  text-transform: uppercase;
}
h3 {
  column-span: all;
  font-size: 1.8em;
  text-align: center;
}
p {
  color: lighten($color-2, 25%);
	font-size: 1.4rem;
	line-height: 1.4;

	a {
		color: $color-1;
		text-decoration: underline;
	}
}
.design-selection li a {
  border-color: lighten($color-2, 5%);
  color: $color-5;
}

//sun animation
aside:before {
  border: 3px solid blue;
  content: 'image1';
  height: 300px;
  left: 4%;
  position: absolute;
  top: 225px;
  width: 700px;
}
aside:after {
  border: 3px solid blue;
  content: 'image2';
  height: 300px;
  left: 4%;
  position: absolute;
  top: 225px;
  width: 700px;
}
