@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One');

// color palette - these colors will be the color swatches of the Colors section

$color-1: #fed766; // yellow
$color-2: #272727; // black
$color-3: #275dad; // blue
$color-4: #696773; // grey
$color-5: #eff1f3; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Cardo', serif;
$secondary-font: 'Pathway Gothic One', sans-serif;

//Size Variables
$width-size: 1040px;
$width-percent: 95%;
$media-width: 650px;
$margin: 0 5% 5% 2.5%;
$margin-heading: 2% 0 2% 0;
$padding: 10px;
$margin-mobile: 6%;
$width-mobile: 80%;
$width-full: 40%;
