/* Import the different style sheets here */
@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
@import url(reset.css);
body {
  /* this is the page background */
  background-color: #eff1f3; }

/*First block Zen Garden Layout */
header {
  display: block;
  margin: 0 auto;
  max-width: 1040px;
  position: relative;
  text-align: center;
  width: 95%; }

.summary p {
  clear: right;
  display: block;
  float: right;
  margin: 0;
  width: 250px; }

.intro {
  height: 600px;
  width: 95%; }

.summary {
  margin: 80px auto 0;
  max-width: 1040px; }

.preamble {
  margin: 0 5% 5% 2.5%;
  padding: 10px;
  position: relative;
  top: 300px;
  width: 40%; }
  @media (max-width: 650px) {
    .preamble {
      float: left;
      margin: 6%;
      top: 50px;
      width: 80%; } }

.explanation {
  margin-left: 50%;
  padding: 10px;
  position: relative;
  top: -38px;
  width: 40%; }
  @media (max-width: 650px) {
    .explanation {
      float: left;
      margin: 6%;
      margin-top: 100%;
      width: 80%; } }

/* Second block Zen Garden Layout */
.participation, .participation::after, .benefits, .benefits::before {
  clear: both;
  display: inline-block;
  margin: 0 5% 5% 2.5%;
  padding: 10px;
  top: 0;
  width: 40%; }

.participation {
  position: relative; }
  @media (max-width: 650px) {
    .participation {
      margin: 6%;
      margin-bottom: 250px;
      width: 80%; } }

.participation::after {
  border: 3px solid yellow;
  content: "image";
  height: 97%;
  position: absolute;
  right: -114%;
  width: 95%;
  align-items: center;
  display: flex;
  justify-content: center; }
  @media (max-width: 650px) {
    .participation::after {
      margin: 6%;
      right: -7.5%;
      top: 100%;
      width: 95%; } }

/* benefits */
.benefits {
  margin-left: 48%;
  position: relative; }
  @media (max-width: 650px) {
    .benefits {
      margin: 6%;
      margin-bottom: 70%;
      margin-top: 100%;
      width: 80%; } }

.benefits::before {
  border: 3px solid yellow;
  content: "image";
  height: 95%;
  position: absolute;
  right: 102%;
  top: -15px;
  width: 95%;
  align-items: center;
  display: flex;
  justify-content: center; }
  @media (max-width: 650px) {
    .benefits::before {
      margin: 6%;
      right: -7.5%;
      top: 100%;
      width: 95%; } }

/*Third block Zen Garden Layout */
.requirements {
  background-color: #275dad;
  clear: both;
  column-count: 2;
  column-width: 40%;
  left: auto;
  padding: 10px; }
  .requirements p {
    border-color: #343434;
    color: #eff1f3;
    padding: 10px; }
  .requirements p:last-child {
    column-span: all;
    padding: 0 20% 20px;
    width: 60%; }
  @media (max-width: 650px) {
    .requirements {
      column-count: 1; }
      .requirements p {
        margin: 6%;
        width: 95%; } }

footer {
  background: #275dad;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%; }
  footer a {
    color: #eff1f3;
    padding: 4%; }

.sidebar {
  background: #275dad;
  clear: both;
  margin: 0 0 1em 0;
  padding: 1em; }
  .sidebar ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center; }
    .sidebar ul li {
      color: #eff1f3;
      display: inline-block;
      padding: 10px;
      text-align: left; }
      .sidebar ul li a {
        color: #eff1f3;
        display: block;
        width: 40%; }

h1, h2, h3 {
  color: #272727;
  font-family: "Pathway Gothic One", sans-serif; }

h1 {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 60px auto 0;
  min-height: 70px; }

h2 {
  display: block;
  font-weight: bold;
  margin: 1em 0;
  max-width: 700px;
  text-align: right;
  text-transform: uppercase; }

h3 {
  column-span: all;
  font-size: 1.8em;
  text-align: center; }

p {
  color: #676767;
  font-size: 1.4rem;
  line-height: 1.4; }
  p a {
    color: #fed766;
    text-decoration: underline; }

.design-selection li a {
  border-color: #343434;
  color: #eff1f3; }

aside:before {
  border: 3px solid blue;
  content: 'image1';
  height: 300px;
  left: 4%;
  position: absolute;
  top: 225px;
  width: 700px; }

aside:after {
  border: 3px solid blue;
  content: 'image2';
  height: 300px;
  left: 4%;
  position: absolute;
  top: 225px;
  width: 700px; }

/*# sourceMappingURL=style.css.map */
