/* Import the different style sheets here */
@import "style-guide.scss";
@import "reset.css";

$width-size: 1040px;
$width-percent: 95%;
$media-width: 650px;
$margin: 0 5% 5% 2.5%;
$padding: 10px;
$margin-mobile: 6%;
$width-mobile: 80%;
$width-full: 40%;

//Body
body {
	/* this is the page background */
	background-color: $color-5;
}

/*First block Zen Garden Layout */

header {
  text-align: center;
  width: $width-percent;
  max-width: $width-size;
  position: relative;
  margin: 0 auto;
  display: block;
}

header h1 {
  display: inline-block;
  min-height: 70px;
  margin: 60px auto 0;
}

header h2 {
  display: block;
  text-align: right;
  max-width: 700px;
  text-align: right;
}

.summary p {
  clear: right;
  float: right;
  margin: 0;
  width: 250px;
  display: block;
}

.intro {
  height: 600px;
  width: $width-percent;
}

.summary {
  max-width: $width-size;
  margin: 80px auto 0;
}

.preamble {
    width: $width-full;
    margin: $margin;
    padding: $padding;
    position: relative;
    top: 300px;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        top: 50px;
        width: $width-mobile;
        float: left;
    }
}

.explanation {
    width: $width-full;
    margin: $margin;
    padding: $padding;
    position: relative;
    margin-left: 50%;
    top: -60px;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        width: $width-mobile;
        margin-top: 100%;
        clear: both;
    }
}

/* Second block Zen Garden Layout */

@mixin img-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.participation, .participation::after, .benefits, .benefits::before {
  display: inline-block;
  width: $width-full;//40%;
  margin: $margin;
  padding: $padding;
  float: left;
  clear: both;
    top: 0px;
}
.participation{
    position: relative;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        width: $width-mobile;
        margin-bottom: 250px;
    }
}

.participation::after{
  position: absolute;
  right: -114%;
  // content:url();
  content: "image";
  border: 3px solid yellow;
  width: $width-percent;
  height: 97%;
  //padding: $padding;
  @include img-centered;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        width: $width-percent;
        top: 100%;
        right: -7.5%;
    }
}

/* benefits */

.benefits{
  position: relative;
  margin-left: 48%;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        width: $width-mobile;
        margin-top: 100%;
        margin-bottom: 70%;
    }
}
.benefits::before{
  position: absolute;
  top:-15px;
  right: 102%;
  // content:url();
  content: "image";
  border: 3px solid yellow;
  width: $width-percent;
  height: 95%;
  //padding: $padding;
  @include img-centered;
    @media (max-width:$media-width) {
        margin: $margin-mobile;
        width: $width-percent;
        top: 100%;
        right: -7.5%;
    }
}
/*Third block Zen Garden Layout */

@media (min-width: $media-width) {
  .requirements h3 {
    text-align: center;
  }
  .requirements p {
    margin-top: 0;
    max-width: 40%;
  }
  .requirements p:nth-child(3) {
    clear: left;
    margin-right: 5%;

  }
  .requirements p:nth-child(4) {
    clear:left;
    float: right;
    margin-top: -192px;
  }

  .requirements p:nth-child(5) {
    float: right;
    margin-top: -111px;
  }

  .requirements p:last-child {
    text-align:center;
    margin-top: 1em;
    font-size: 1.5em;
    max-width: $width-percent;
    clear:both;
  }

  .wrapper {
    display:block;
    width: 75%;
    margin: 0 auto;
  }

  .design-selection{
    float:center;
    clear: both;
  }
  .design-selection ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .design-selection li {
    display: inline;
    margin: 2em;
  }

  .design-archives {
    float:right;
  }
  .zen-resources {
    float:left;
  }

}

@media only screen {

  .requirements {
    background: $color-3;
    clear: both;
    display: block;
    float: center;
    padding: 1em;
    margin: 1em 0 1em 0;

  }
  .requirements h3, .requirements p {
    margin: 0 1.5em 0 1.5em;
  }

  .requirements p:last-child {
    text-align:center;
    margin-top: 1em;
    font-size: 1.5em;
  }

  .sidebar {
    background: $color-3;
    clear: both;
    display: block;
    float: center;
    padding: 1em;
    margin: 1em 0 1em 0;
  }
  li a{
      display: block;
      width: $width-full;
    text-align:center;
  }
  aside h3{
    text-align:center;
    margin-left: 35px;

  }

  footer {
    background: $color-3;
    display: block;
    text-align:center;
    padding: 1em;
    margin: 1em 0 1em 0;

  }
}

//Typography
h1, h2 {
	font-family: $secondary-font;
	color: $color-2;
}

h1 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;
}

p {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($color-2, 25%);

	a {
		color: $color-1;
		text-decoration: underline;
	}
}
.design-selection li a {
          color: $color-5;
          border-color: lighten($color-2, 5%);
      }
.requirements p {
    color: $color-5;
    border-color: lighten($color-2, 5%);
}
